.review {
  padding-bottom: 5px;
}
.panel-body.review-container {
  padding-top:0;
}
.review-header {
  margin-bottom: 10px;
}

.reviewAuthor {
  margin: 0 5px;
}

.reviewTimestamp {
  color:grey;
}

.navbar {
  background-color:#006472;
}
.navbar-brand {
  color:white!important;
  font-size:2.5em!important;
}

h1 {
  font-size: 3em;
  font-family: 'Abel', cursive;
  font-weight: bold;
}

h2  a {
  font-family: 'Yellowtail', cursive;
}

h3 {
  font-family: 'Amatic SC', sans-serif;
}

.navbar-brand {
  font-family: 'Yellowtail';
  font-size: 2em;
  color: white;
}

.glyphicon-star {
}

.label-warning {
  background-color:#91c699;
}
.panel-heading {
  background-color:#40a1bc!important;
  border-color:grey!important;
}
.panel {
  border-color:grey!important;
}
