extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1=title
    .row
      .col-md-6.col-sm-12
        p
          |TravelApp was created to people find where to go and things to do!
          |<br/><br/>
          |Travel the road less traveled.
