doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Shadows+Into+Light|Raleway|Yellowtail:100,200,300,400,500,600,700,800,900")
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') TravelApp
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; Curtis Ma 2017
            br
            small Welcome to the TravelApp

  script(src='/javascripts/jquery-3.2.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
