extends layout

block content
  #banner.page-header
      .row
        col-lg-6
          h1 TravelApp
            small &nbsp; Find awesome places to work with the things you want!
    .row
      col-xs-12.col-sm-8
        p List area.
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href="/location") Starcups
              small &nbsp
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
              p.address 125 High Street, San Francisco, CA
              p
                span.label.label-warning Hot drinks
                | &nbsp
                span.label.label-warning Cheap
                | &nbsp
                span.label.label-warning Premium Wifi
                | &nbsp
          .col-xs-12.list-group-item
            h4
              a(href="/location") WholeFud
              small &nbsp
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 200m
              p.address 231 Maple Street, San Francisco, CA
              p
                span.label.label-warning Cold Drinks
                | &nbsp
                span.label.label-warning Beer
                | &nbsp
                span.label.label-warning Free Parking
                | &nbsp
          .col-xs-12.list-group-item
            h4
              a(href="/location") Rudys
              small &nbsp
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 250m
              p.address 823 Frank Dr, San Francisco, CA
              p
                span.label.label-warning Coffee
                | &nbsp
                span.label.label-warning Ice Cream
                | &nbsp
                span.label.label-warning Snacks
                | &nbsp


      col-xs-12.col-sm-4
        p.lead TravelApp will help you find places you will want to go and hang out with your friends!
